<footer class="docs-footer">
  <div class="docs-footer-list">
    <div class="docs-footer-copyright">
      <span>Pengolahan dan Pemasaran Hasil Peternakan</span>
      <span>Kementrian Pertanian</span>
      <span>Direktorat Jenderal Peternakan dan Kesehatan Hewan </span>

      <br />
      <span>Kantor Pusat:</span>
      <span>Jl. Harsono RM No.3, RT.5/RW.7</span>
      <span>Gedung C lantai 9 Wing A, Ruang 903</span>
      <span>Ragunan, Kecamatan Ps. Minggu</span>
      <span>Kota Jakarta Selatan</span>
      <span>Daerah Khusus Ibukota Jakarta 12550</span>
    </div>
  </div>
  <div class="docs-footer-list">
    <div class="docs-footer-copyright">
      <span
        >Powered by Direktorat Pengolahan dan Pemasaran Hasil Peternakan, Ditjen
        PKH Kementerian Pertanian © 2020.</span
      >
    </div>
  </div>
</footer>
