mat-grid-tile {
    background: #ffffff;
}

.home-page-header {
    overflow: hidden;
    position: relative;
    height: 100px;
    background: #3f51b5;
}

header {
    display: block;
}

mat-sidenav {
    width: 240px;
  }

.mat-list-item {
    color: #000000a6;
}